:root {
    --white: hsl(9, 54%, 97%);
    --black: hsl(210, 33%, 9%);

    --yellow-300: hsl(54, 99%, 25%);
    --yellow-400: hsl(54, 99%, 40%);
    --yellow-500: hsl(54, 99%, 54%);
    --yellow-600: hsl(54, 99%, 70%);
    --yellow-700: hsl(54, 99%, 90%);

    --red-300: hsl(353, 100%, 15%);
    --red-400: hsl(353, 100%, 30%);
    --red-500: hsl(353, 100%, 50%);
    --red-600: hsl(353, 100%, 70%);
    --red-700: hsl(353, 100%, 90%);

    --green-300: hsl(82, 39%, 15%);
    --green-400: hsl(82, 39%, 30%);
    --green-50: hsl(82, 39%, 50%);
    --green-600: hsl(82, 39%, 70%);
    --green-700: hsl(82, 39%, 90%);
}

img {
    display: block;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

aside,
header,
main {
    padding: 1rem;
}

html {
    background-color: var(--black);
    color: var(--white);
    font-family: system-ui, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

body {
    line-height: 1.65;
    text-rendering: optimizeSpeed;
}

p {
    font-size: 1.15rem;
}


h1 {
    font-size: clamp(2rem, 1.143rem + 2.286vw, 3.2rem);
}

header {
    background-color: var(--green-300);
    border-bottom: 2px dashed;
    color: var(--green-700);
    display: grid;
    min-height: 30svb;
    place-content: center;
    text-align: center;
}

header>small {
    margin-top: .5rem;
}

a {
    font-weight: 700;
    color: var(--yellow-600);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-underline-offset: .15em;

    &:hover {
        color: var(--red-600);
    }
}